%table{:width => '50%'}
  %thead
    %th
    %th
    %th
  %tbody
    -Category.all.each do |category|
      -if category.seq_id == 1 then next end
      %tr
        %td
          .span.cat_label{:style => "background-color:#{category.color};"} #{category.name}
        %td{:style => "text-align:right;"}
          %a.btn{href: "/settings/#{category.seq_id}/edit"}
            %i.icon-pencil
        %td{:style => "text-align:right;"}
          %a.btn{onclick: "delete_category(#{category.seq_id})"}
            %i.icon-trash
