.container
  %center
    %h1 Inställningar
    %h3 Kategorier
    #setting_table
      =haml :'settings/_table'
    -@title = "Ny kategori"
    -@category = Category.new(name: "NAMN", color: "#000000")
    -@button_title = "Lägg till"
    -@action = "save"
    #edit_category
      =haml :'settings/_edit_label'
  %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
  %script{src: "/js/helpers.js"}
  %script{src: "/js/settings.js"}
