.container
  %h1 Inställningar för #{@user.capitalize}
  %h3 Kategorier
  #setting_table
    =haml :'settings/_table'
  %br
  %br
  %form.form-inline{action: "/settings/add"}
    %label.control-label Namn
    %input.input-small{type: "text", name: "category[name]", id: "name", value: "NAMN", onkeyup: 'create_category(this.form)'}
    %label.control-label Färg
    .input-prepend
      %span.add-on #
      %input.input-small{type: "text", name: "category[color]", id: "color", value: "000000", onkeyup: 'create_category(this.form)'}
    %input.btn{type: "button", value: "Lägg till", name: "button", onclick: "save_category(form)"}
  #templabel
    .span.cat_label{style: "background-color:#000;"} NAMN
  %script{type: "text/javascript", src: "/js/helpers.js"}
  %script{type: "text/javascript", src: "/js/settings.js"}
