.container
  %center
    %h1 Inställningar
    %h3 Kategorier
    #setting_table
      =haml :'settings/_table'
    %h3 Ny kategori
    .small-box
      .small-box
        #templabel.pull-right
          .span.cat_label{style: "background-color:#000;"} NAMN
        .pull-left
          %form.form-inline{action: "/settings/add"}
            %label.control-label Namn
            %input.input-small.format{type: "text", name: "category[name]", id: "name", value: "NAMN"}
            %label.control-label Färg
            .input-prepend
              %span.add-on #
              %input.input-small.format{type: "text", name: "category[color]", id: "color", value: "000000"}
            %input.btn.save{type: "button", value: "Lägg till"}
  %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
  %script{src: "/js/helpers.js"}
  %script{src: "/js/settings.js"}
