#popup
  %p Do stuff.
.container
  %center
    %h5.pull-right
      %a.showhide{href: "#upload"} Ladda upp fil
    #upload.forms
      %form.form-inline{action: '/history/upload', method: 'post', enctype: 'multipart/form-data'}
        %input{type: 'file', name: 'file'}
        %input.btn.btn-success{type: 'submit', value: 'Ladda upp'}
    .clearfix
    %h5.pull-right
      %a.showhide{href: "#filter"} Filtrera
    #filter.forms
      %form.form-inline
        =haml :_filter_form
    %h1 Historik
    #historytable
      =haml :'history/_table'
  %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
  %script{src: "/js/helpers.js"}
  %script{src: "/js/history.js"}
