.container
  %h3
    Hej #{@user}!
  %center
    %form.form-inline{action: '/history/upload', method: 'post', enctype: 'multipart/form-data'}
      %input{type: 'file', name: 'file'}
      %input.btn.btn-success{type: 'submit', value: 'Ladda upp'}
  %h3 Historik
  %center
    %form.form-inline{:action => '', :name => 'myform', :method => 'post'}
      =haml :_filter_form
      %input.btn.btn{type: 'button', value: 'Visa', name: 'button', onClick: "display_history(this.form, #{Category.last.id})"}
    #historytable
      =haml :'history/_table'
  %script{type: "text/javascript", src: "/js/helpers.js"}
  %script{:type => "text/javascript", :src => "/js/history.js"}
