.control-group
	%label.control-label{for: 'username'}Användarnamn
	.controls
		%input{type: 'text', id: 'username', name: 'username'}
.control-group
	%label.control-label{for: 'password'}Lösenord
	.controls
		%input{type: 'password', id: 'password', name: 'password'}