%p
	%label.control-label{for: 'username'} Användarnamn
	%input{type: 'username', id: 'username', name: 'username'}
%p
	%label.control-label{for: 'password'} Lösenord
	%input{type: 'password', id: 'password', name: 'password'}