%table{:width => '50%'}
  %thead
    %th Kategori
    %th Redigera
    %th Ta bort
  %tbody
    -Category.all.each do |category|
      %tr
        %td
          .span.cat_label{:style => "background-color:#{category.color};"} #{category.name}
        %td{:style => "text-align:right;"}
          %a.btn{href: "/settings/#{category.id}/edit"} Redigera
        %td{:style => "text-align:right;"}
          %a.btn{href: "/settings/#{category.id}/delete"} Ta bort
