.container
	%form.form{action: "/update/#{@transaction.id}", method: 'post'}
		.control-group
			%label.control-label{for: 'name'}Namn
			.controls
				%input{type: 'text', id: 'name', name: 'transaction[name]', value: "#{@transaction.name}"}
			%label.control-label{for: 'category'}Kategori
			.controls
				%select{id: 'category', name: 'transaction[category]'}
					- (0..5).each do |i|
						%option{value: "#{i}", selected: "selected"}= i_to_category(i)

		%input{type: 'submit', value: 'Spara'}