.container
	%form.form{action: "/history/update/#{@transaction.id}", method: 'post'}
		.control-group
			%label.control-label{for: 'name'}Namn
			.controls
				%input{type: 'text', id: 'name', name: 'transaction[name]', value: "#{@transaction.name}"}
			%label.control-label{for: 'category'}Kategori
			.controls
				%select{id: 'category', name: 'transaction[category_id]'}
					- Category.all.each do |cat|
						%option{value: "#{cat.id}", selected: "selected"}= cat.name

		%input{type: 'submit', value: 'Spara'}