.container
	%h3 
		Hej #{env['warden'].user.username}!
	%form{action: '/upload', method: 'post', enctype: 'multipart/form-data'}
		%label{for: 'filename'}Filnamn
		%br
		%input{type: 'file', name: 'myFile'}
		%input.btn.btn-success{type: 'submit', value: 'Ladda upp'}