.container
	%h3 
		Hej #{env['warden'].user.username}!
	%center
		%form.form-inline{action: '/upload', method: 'post', enctype: 'multipart/form-data'}
			%input{type: 'file', name: 'myFile'}
			%input.btn.btn-success{type: 'submit', value: 'Ladda upp'}
		.container
			%table.table-striped{:width => '100%'}
				%thead
					%th Kategori
					%th Datum
					%th Namn
					%th Summa
					%th
				%tbody
					- @transactions = Transaction.all
					- @transactions.each do |transaction|
						%tr{:align => 'center'}
							%td = transaction.category
							%td = transaction.timestamp
							%td = transaction.name
							%td 
								%a.btn.btn{:href => '/#{:id}'} Redigera