.container
	%h3 
		Hej #{env['warden'].user.username}!
	%center
		%form.form-inline{action: '/upload', method: 'post', enctype: 'multipart/form-data'}
			%input{type: 'file', name: 'myFile'}
			%input.btn.btn-success{type: 'submit', value: 'Ladda upp'}