.navbar.navbar-fixed-top.navbar-default{role: 'navigation'}
  .navbar-header
    .container
      %a.navbar-brand{:href => '/', :tabindex => -1} Mina utgifter
      %ul.nav.navbar-nav
        -if env['warden'].authenticated?
          %li
            %a{:href => '/history', :tabindex => -1}Historik
          %li
            %a{:href => '/statistics', :tabindex => -1}Statistik
          %li
            %a{:href => '/settings', :tabindex => -1}Inställningar
      %ul.nav.navbar-nav.navbar-right
        -if env['warden'].authenticated?
          %li
            %a{:href => '/auth/logout', :tabindex => -1}Logga ut
        -else
          %li
            %a{:href => '/auth/login', :tabindex => -1}Logga in
          %li
            %a{:href => '/auth/register', :tabindex => -1}Nytt konto
