.container
	%h3 Statistik för #{env['warden'].user.username}
	%center
		%form.form-inline{action: '/statistics/update', method: 'post'}
			- @categories = Category.all
			- @categories.each do |cat|
				%label.checkbox.inline
					.span{:class => "#{cat.css}"}
						%input{:type => 'checkbox', :checked => 'yes', :name => "category[#{cat.id}]"} #{cat.name}
			.control-group
				%input.btn.btn{type: 'submit', value: 'Visa'} 
		%p
			%img{:src => 'images/pie'}