.container
	%h3 Statistik för #{env['warden'].user.username}			
	%center
		- @categories = ["UTGIFT", "INKOMST", "MAT OCH DRYCK", "FRITID", "BANKOMAT", "TRANSPORT"]
		- @cssCategories = ['label', 'label label-success', 'label label-warning', 'label label-info', 'label label-inverse', 'label label-important']
		- (0..5).each do |i|
			%label.checkbox.inline
				.span{:class => "#{@cssCategories[i]}"}
					%input{:type => 'checkbox', :checked => 'yes'} #{@categories[i]}
		%p
			%img{:src => 'images/bar-chart'}
		%p
			%img{:src => 'images/basic-pie'}