.container
  %h3 Statistik för #{env['warden'].user.username}
  %center
    %form.form-inline{action: '/statistics/update', method: 'post'}
      = haml :_filter_form
      %input.btn.btn{type: 'submit', value: 'Visa'}
  %h3 Per kategori
  %center
    %p
      %img{:src => 'images/pie'}
  %h3 Per månad
  %center
    %p
      %img{:src => 'images/bar'}