.container
	%h3 Statistik för #{env['warden'].user.username}	
	%center
		- @categories = Category.all
		- @categories.each do |cat|
			%label.checkbox.inline
				.span{:class => "#{cat.css}"}
					%input{:type => 'checkbox', :checked => 'yes'} #{cat.name}
		%p
			%img{:src => 'images/bar-chart'}
		%p
			%img{:src => 'images/basic-pie'}