body {
  padding-top: 60px;
  padding-bottom: 40px;
}

td {
  padding-top:7px;
  padding-bottom:7px;
  padding-right:20px;
}

td:first-child {
  padding-left:20px;
  padding-right:0;
}

.pos {
  color:#1AAE00;
}

.neg {
  color:#AE0000;
}

.table th, .table td, .table thead, .table, .table tbody {
  border:none;
}

#piechart, #monthlychart, #resultchart {
  width:600px;
  height:400px;
  margin:8px auto;
}

.cat_label, .temp_label {
  vertical-align:middle;
  border-radius: 4px;
  font-size:x-small;
  font-family:"Verdana", Sans-serif;
  font-weight:bold;
  width:auto;
  padding:2px 5px;
  color:#FFF;
}

.temp_label {
  height:40px;
}

.cat_label {
  height:20px;
}
