div.category-list {
  padding:10px;
  display:none;
  position:absolute;
  z-index:1000;
  border-radius:5px;
  background-color:rgba(0,0,0,0.6);
}

a.new_category div.span.category_label {
  margin-bottom:5px;
}

.category-list ul {
  list-style:none;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

td {
  padding-top:7px;
  padding-bottom:7px;
  padding-right:20px;
}

td:first-child {
  padding-left:20px;
  padding-right:0;
}

.filter.input-group {
  width:25%;
}

input.smaller[type="text"] {
  height: 10px;
}

.pos {
  color:#1AAE00;
}

.neg {
  color:#AE0000;
}

.showhide h4, .showhide h3 {
  color:black;
  text-decoration:none;
}

table.stats, #piechart, #monthlychart, #resultchart {
  width:600px;
  height:600px;
  margin:8px auto;
}

.span.category_label {
  display: inline-block;
}

.category_label {
  padding:5px;
  text-align:center;
  cursor: pointer;
  border-radius: 4px;
  font-size:80%;
  font-family:"Verdana", Sans-serif;
  font-weight:bold;
  color:#FFF;
}

.small-box {
  padding-top:10px;
  width:65%;
}

.slider {
  border-style:solid;
  border-width:1px;
  border-color:#999;
  border-radius:3px;
  margin-top:5px;
  position:relative;
  width:20px;
  color:#000;
  background-color:#CCC;
  height:25px;
  z-index:2;
}

.red, .green, .blue {
  border-radius:4px;
  position:absolute;
  z-index:1;
  margin:10px;
  height:15px;
  width:256px;
}

.red {
  background:linear-gradient(to right, black, red);
}

.green {
  background:linear-gradient(to right, black, green);
}

.blue {
  background:linear-gradient(to right, black, blue);
}
