.container
  -#%label.control-label{for: 'username'}Användarnamn
  %input.form-control{type: 'text', id: 'username', name: 'user[username]', placeholder: 'Användarnamn'}
  -#%label.control-label{for: 'password'}Lösenord
  %input.form-control{type: 'password', id: 'password', name: 'user[password]', placeholder: 'Lösenord'}
