.container
  %h1 Login
  %form{action: '/auth/login', method: 'post'}
    = haml :'sessions/_form'
    %input.btn{type: 'submit', value: 'Logga in'}
    %a.btn.btn{:href => '/auth/register'}Nytt konto
