.container
  %h1 Login
  %form.form-horizontal{role: 'form', action: '/auth/login', method: 'post'}
    = haml :'sessions/_form'
    %input.btn{type: 'submit', value: 'Logga in'}
    %input.btn{type: 'button', href: '/auth/register', value: 'Nytt konto'}
