.container
  %table.table-striped.stats
    %thead
      %th Kategori
      %th Antal
    %tbody
    -@categories.each do |category|
      %tr
        %td
          -@category = Category.get_category category[1]
          =haml :_new_label
        %td{style: 'text-align:right; font-weight:bold;'}
          =category[0]
