.container
  %center
    %h1 Statistik
    %form.form-inline
      =haml :_filter_form
    %h5.pie
      %a.showhide{href: "#piechart"} Utgift per kategori
    #piechart.charts
    %h5.result
      %a.showhide{href: "#resultchart"} Resultat per månad
    #resultchart.charts
    %h5.monthly
      %a.showhide{href: "#monthlychart"} Per månad och kategori
    #monthlychart.charts
  %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
  %script{src: "/js/helpers.js"}
  %script{src: "/js/flotr2.min.js"}
  %script{src: "/js/statistics.js"}
